{% load comments %}
{% load more_like_this %}

<div class="bg-white card post-card px-7 py-5">
  {% include 'blog/_post_detail_item.html' %}
  <div class="top-gap">
      <div class="bshare-custom"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div><script type="text/javascript" charset="utf-8" src="https://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=3&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="https://static.bshare.cn/b/bshareC0.js"></script>
  </div>
  <br>
  <div class="top-gap clearfix">
    {% if previous_post %}
      <a href="{{ previous_post.get_absolute_url }}">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        {{ previous_post }}
      </a>
    {% endif %}
    {% if next_post %}
      <a class="float-right" href="{{ next_post.get_absolute_url }}">
        {{ next_post }}
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </a>
    {% endif %}
  </div>
  {% block related_posts %}
    <div class="top-gap-big card">
      <div class="card-header">相关文章</div>
      <div class="card-body">
        {% more_like_this post as related_posts limit 5 %}
        <ul class="mt-0">
          {% for related_post in related_posts %}
            <li class="mt-1"><a class="text-small"
                                href="{{ related_post.object.get_absolute_url }}">{{ related_post.object.title }}</a>
            </li>
          {% empty %}
            没有相关文章
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endblock related_posts %}
  <section class="comment-area top-gap-big" id="comment-area">
    <h5>{{ post.comments.count }} 条评论 / {{ post.participants_count }} 人参与</h5>
    {% if user.is_authenticated %}
      {% render_comment_form for post %}
    {% else %}
      {% include 'account/_login_panel.html' %}
    {% endif %}
    {% include 'comments/list.html' %}
  </section>
</div>